/*402e0c2*/
.hw-100-percent{
  height: 100%;
  width: 100%;
}

button{
  background: #06192F;
}

.App {
  text-align: center;
  color: white;

}

.jumbotron {
  background: transparent;
}

.logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
  z-index: -110;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.three-column-container {
  width: 800px;
  height: 600px;
}



#snow{
	background: transparent;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	animation: snow 20s linear infinite;
  font-family: 'GoT';
  color: grey;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.loginModalbtn{


}

.regModalbtn{

}

.gusModalbtn{

}

/*==================================================*/
.stark{

}
/*
  Primary color: dark gray = #3C3C3C
  Secondary color: light gray = #3C3C3C
*/

/*==================================================*/
.baratheon{

}
/*
  Primary color: yellow = #D59E29
  Secondary color: black = #010103
*/

/*==================================================*/
.lannister{

}
/*
  Primary color: red = #6F130E
  Secondary color: beige = #6A3118
*/

/*==================================================*/
.greyjoy{

}
/*
  Primary color: dark gray = #1F1F1F
  Secondary color: beige = #C9AC8A
*/

/*==================================================*/
.tyrell{

}
/*
  Primary color: green = #608A39
  Secondary color: gold = #AA943B
*/

/*==================================================*/
.martell{

}
/*
  Primary color: orange = #BA4C2B
  Secondary color: red = #931F22
*/

/*==================================================*/
.targaryen{

}
/*
  Primary color: dark gray = #1D1D1D
  Secondary color: red = #A73027
*/

/*==================================================*/
.arryn{

}
/*
  Primary color: blue = #28253A
  Secondary color: beige = #B8B397
*/

/*==================================================*/
.mormont{

}
/*
  Primary color: green = #678D3C
  Secondary color: black = #010101
*/

/*==================================================*/
.tully{

}
/*
  Primary color: red = #6D150C
  Secondary color: blue = #292541
*/

/*==================================================*/
