.region-column{

}

.house-column{

}

/******************All Characters****************************/

.jon-snow{
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.charactername{
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
