.parchment{
  background-image: url('/paperbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 492px;
  width: 565px;
  margin-top: -167px;
}
