.level-1{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-2{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-3{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-4{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-5{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-6{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-7{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-8{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-9{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.level-10{
  margin: 0 auto;
  padding: 0 auto;
  z-index: -1000;
  font-family: "GoT";
  background: url('https://static1.squarespace.com/static/556489d4e4b064c1f32b6812/55e0930be4b05f7afaaa8275/55e09321e4b096c533f03ed9/1453140590270/?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
